/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");


body {
  background: #fff;
  font-family: sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}


.description {
  line-height: 1.5;
  font-size: 20px;
  font-weight: bolder;

}

.title {
  padding: 3;
  margin: 5;
  font-weight: 400;
  font-size: 40px;
  font-weight: bolder;
  line-height: 1em;
}

.nav {
  background-color: #1aaac7;
  font-weight: 400;
  font-weight: bolder;
  line-height: 1em;
}

.navbar {
  font-weight: 400;
  font-weight: bolder;
  line-height: 1em;
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
  background-color: #1aaac7;
}

.md-container {
  max-width: 100%;
  padding-top: 0rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
  background-color: #01858a;
}

.mml-card {
  width: 100%;
  margin: 0rem;
}

.lml-card {
  width: 39rem;
  margin: 0rem;
  background-color: #1aaac7;
}


.cntr-title {
  height: 80px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
}
.sml-logo {
  height: 1em;
  margin-left: 10px;
}